data/
kaggle.json
hymenoptera_data/
대학원교안_ObjectDetection/
mnist/
flickr8k/
tiny_nerf_data.npz
PennFudanPed/
*.pt
*.pth
dataset/
repository/
results/
sst2_2025/
**/sst2_2025/
sst2_2025.zip
sst2_2025_unzip/